.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  flex-direction: column;
}

.email,
.password {
  width: 35vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.logEmail,
.logPassword {
  color: #eee;
}

.hide {
  margin-top: 5rem;
  color: #eee;
}

.loginRight {
  display: block;
  min-width: 100px;
  color: #eee;
  background-color: #fe6b00;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
  margin-top: 2rem;
}

.loginRight:hover {
  background-color: #eee;
  color: #fe6b00;
}

.create {
  font-size: 15px;
  text-decoration: none;
}

.create:hover {
  color: #fe6b00;
}
